doctype html
html
    head
        title RSS Feed
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h2 RSS Feed
        select
            each feed in feeds
                option(value=feed.url)= feed.title
        script(src='./javascripts/index.js')
