doctype html
html
    head
        title RSS Feed
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            #logo RSS Feed
        div#content
            input#feedTitleInput(placeholder='Title')
            input#feedUrlInput(placeholder='URL')
            input(type='submit', value='Add new feed', onclick='addFeed()')
            div#selectBox
            select#feedSelect(onchange='onChangeFeed()')
                    each feed in feeds
                        option(value=feed.url)= feed.title
            div#posts
        script(src='./javascripts/index.js')
